<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h2>新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例: abc@mail.com", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <%= f.label :パスワード %><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "半角英数字6文字以上", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <%= f.label :パスワード（確認用） %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "半角英数字6文字以上", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class:"btn btn-default col-md-4 col-md-offset-4 btn-ellipse" %>
      </div>
    <% end %>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>

  </div>
</div>
