<% if user_signed_in? %>
  <div class="row">
    <% @favorite_categories.each do |favorite_category| %>
      <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
        <div class="col-md-12 post-index-fav">
          <section>
            <%= link_to post_path(favorite_category.id), class: "image-link" do %>
              <%= attachment_image_tag favorite_category.post_category, :category_image, :fill, 230, 160, format: "png", class: "img-responsive", id: "favimage" %>
            <% end %>

            <p class="btn btn-default btn-fav btn-block">
              <%= link_to post_category_path(favorite_category.post_category.id) do %>
                # <%= favorite_category.post_category.category %>
              <% end %>
            </p>
          </section>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 favorite-login">
      <%= link_to "> マイページからお気に入りカテゴリを追加", user_path(@user), class: "btn btn-ellipse" %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="favorite-login">
      <p>＼ ログインするとお気に入りしたカテゴリを閲覧できます ／</p>
      <div class="col-md-4 col-md-offset-4 favorite-btn">
        <%= link_to "> 新規登録する", new_user_registration_path, class: "btn col-md-6 btn-ellipse" %>
        <%= link_to "> ログインする", new_user_session_path, class: "btn col-md-6 btn-ellipse" %>
      </div>
    </div>
  </div>
<% end %>
