<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2># <%= @post_category.category %></h2>

        <% @posts.each do |category_post| %>
          <div class="col-md-3">
            <div class="col-md-12 thumbnail post-index">
              <section>

                <%= attachment_image_tag category_post, :image, :fill, 280, 220, format: "png", class: "img-responsive" %>

                <div class= "caption">
                  <div class="post-content-body-category">
                    <div class="post-content-body-cate-top">
                      <p class="post-content"><%= category_post.post_content.truncate(70) %></p>
                    </div>
                    <div class="post-content-body-cate-bottom">
                      <p class="pull-right post-arrow"><%= link_to "▶︎", post_path(category_post.id) %></p>
                    </div>
                  </div>

                  <p class="post-user">
                    <%= category_post.created_at.strftime('%Y/%m/%d') %><br><%= link_to "posted by #{category_post.user.name}", user_path(category_post.user.id) %>
                  </p>

                  <p class="post-content">
                    <i class="fa fa-comment-o"></i> <%= link_to "#{category_post.post_comments.count} comment", post_path(category_post), class: "post-content" %>&nbsp;&nbsp;
                    <i class="fa fa-flag"></i> <%= category_post.post_cheers.count %> cheer
                  </p>
                </div>

              </section>
            </div>
          </div>
        <% end %>

      <div class="row paginate">
        <div class="col-md-4 col-md-offset-4" id="current_page">
          <%= paginate @posts, class: "paginate" %>
        </div>
      </div>

    </div>
  </div>
</divss>