<!-- カテゴリ別投稿一覧ページ -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2># <%= @post_category.category %></h2>

      <div class="category-body">
        <%= render "post_categories/category_body" %>
      </div>

      <!-- ページャー per20 -->
      <div class="row paginate">
        <div class="col-md-4 col-md-offset-4" id="current_page">
          <%= paginate @posts, class: "paginate" %>
        </div>
      </div>

      <div class="row category-btn">
        <div class="col-md-3 col-md-offset-3">
          <%= link_to "他のカテゴリを見る", root_path, class: "btn btn-ellipse" %>
        </div>

        <div class="col-md-3">
          <%= link_to "すべての投稿を見る", posts_path, class: "btn btn-ellipse" %>
        </div>
      </div>

    </div>
  </div>
</div>


<script type="text/javascript">
$(function() {
  // イベント名 ajax:success レスポンスが成功時、発火
  $(document).on("ajax:success", ".cheer-button", function(event) {
    let currentNo;
    let $cheerFlag_i = $(this).children().children('i')
    let $cheerFlag_span = $(this).children().children('span')

    // fa-flagクラスをもっているか判定
    // かつ、どのpost.idがclickされか判断
    if ($cheerFlag_i.hasClass('fa-flag-o')){
      $cheerFlag_i.removeClass('fa-flag-o').addClass('fa-flag');
      currentNo = $cheerFlag_span.html();
      $cheerFlag_span.html(Number(currentNo) + 1);
      $(this).attr("data-method", "delete");
    } else {
      $cheerFlag_i.removeClass('fa-flag').addClass('fa-flag-o');
      currentNo = $cheerFlag_span.html();
      $cheerFlag_span.html(Number(currentNo) - 1);
      $(this).attr("data-method", "post");
    }
  })
});
</script>