<%= render "layouts/flash" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>category</h2>
      <p class="small-title">カテゴリ一覧</p>

          <div class="col-xs-3 col-md-offset-2">
            <% if @post_category.errors.any? %>
              <ul id="error_explanation">
                <% @post_category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>

            <div class="new-category">
              <%= form_for(@post_category, url: admins_post_categories_path) do |f| %>
                <label>カテゴリ登録</label>
                <%= f.text_field :category, autofocus: true, class: "form-control", placeholder: "カテゴリを入力" %>

                <label>写真</label>
                <%= f.attachment_field :category_image, class: "btn btn-default form-control" %>

                <div class="col-md-6 col-md-offset-3">
                  <%= f.submit "登録", class: "btn btn-block btn-ellipse" %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-5 col-md-offset-1">
            <table class="table table-hover" table-inverse">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>画像</th>
                  <th>カテゴリ</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @post_categories.each do |post_category| %>
                  <tr>
                    <td><%= post_category.id %></td>
                    <td><%= attachment_image_tag post_category, :category_image, :fill, 70, 70, format: 'jpeg'%></td>
                    <td><%= post_category.category %></td>
                    <td><%= link_to "削除", admins_post_category_path(post_category.id), class: "btn btn-ellipse-red", method: :delete, data:{ confirm: "本当に削除しますか？" } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>


    </div>
  </div>
</div>
