<% if current_user == @user %>
  <!-- お気に入りカテゴリ一覧 -->
  <div class="col-md-12 tab-content favorite">
    <% @favorite_categories.each do |favorite_category| %>
      <div class="col-md-3">
        <div class="col-md-12 2 post-index-fav">
          <section>
            <%= link_to post_path(favorite_category.id), class: "image-link" do %>
              <%= attachment_image_tag favorite_category.post_category, :category_image, :fill, 230, 160, format: "png", class: "img-responsive", id: "favimage" %>
            <% end %>

            <p class="btn btn-default btn-fav btn-block">
              <%= link_to post_category_path(favorite_category.post_category.id) do %>
                # <%= favorite_category.post_category.category %>
              <% end %>
            </p>
          </section>
        </div>

        <%= link_to "×", favorite_category_path(favorite_category.id), title: "お気に入りから削除する", "data-toggle": "tooltip", "data-placement": "bottom", method: :delete, class: "btn btn-ellipse-fav" %>
      </div>
    <% end %>
  </div>

  <!-- お気に入りカテゴリ追加フォーム -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3 mypage-form">
      <div class="form col-md-6 col-md-offset-3">
        <%= form_with model: @favorite_category, url: favorite_categories_path, local: true do |f| %>
          <div class="form-group">
            <label for="control-label">お気に入りを追加</label>
            <%= select_tag :post_category_id, options_from_collection_for_select(PostCategory.all, :id, :category, params[:post_category_id]), {prompt: "選択", class: "form-control", name: "post_category_id"} %>
          </div>

          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <%= f.submit "追加", class: "btn btn-ellipse" %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">
// <!-- ツールチップ
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>