<!-- 自己紹介文字数カウント -->
<script type="text/javascript">
$(function(){
  let countNum = String($('#input-text').val().length);
  $("#counter").text(countNum + "/200")

  // キーボードのキーが押され、上がったときに発火
  $("#input-text").on("keyup change", function() {
    let countNum = String($(this).val().length);
    $("#counter").text(countNum + "/200");
  });
});
</script>


<div class="container">
  <div class="row">
    <h2>Mypage</h2>
    <p class="small-title">マイページ編集</p>

      <div class="col-md-10 col-md-offset-1">
        <p class="mypage">基本情報</p>
      </div>

      <%= form_for(@user) do |f| %>
        <div class="mypage-data">
          <div class="col-md-4 col-md-offset-2">
            <p>写真</p>
            <div class="user-image-box">
              <%= attachment_image_tag @user, :user_image, format: 'jpg', class: "user-image" %>
            </div>
            <%= f.attachment_field :user_image, class: "btn btn-default user-image-btn" %>
          </div>
          <div class="col-md-4">
            <p>名前
              <%= f.text_field :name, autofocus: true, value: current_user.name, class: "form-control" %>
            </p>
            <p>メールアドレス
              <%= f.text_field :email, value: current_user.email, class: "form-control" %>
            </p>
            <p>自己紹介
              <%= f.text_area :introduction, rows: 10, maxlength: 200, value: current_user.introduction, class: "form-control", id: "input-text" %>
            </p>
            <p class="pull-right" id="counter">0/200</p>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-4 mypage-data-btn">
          <%= f.submit "更新", class: "btn col-md-4 col-md-offset-4 btn-ellipse" %>
        </div>
      <% end %>

      <div class="col-md-10 col-md-offset-1">
        <p class="mypage">その他設定</p>

        <p>退会の手続き</p>
        <%= link_to "退会する", user_path(@user), method: :delete, data: {confirm: "退会する場合、全てのデータが削除されます。本当によろしいですか？"}, class: "btn col-md-2 col-md-offset-5 btn-ellipse-red" %>
      </div>

  </div>
</div>