<%= render "layouts/flash" %>

<div class="container">
  <div class="row">

      <div class="col-md-10 col-md-offset-1">
        <p class="mypage">基本情報</p>
      </div>
      <div class="mypage-data">
        <div class="col-md-4 col-md-offset-2">
          <p>写真</p>
          <div class="user-image-box">
            <%= attachment_image_tag @user, :user_image, format: 'jpg', class: "user-image" %>
          </div>
        </div>
        <div class="col-md-4">
          <p>名前: <%= @user.name %></p>
          <p>メールアドレス: <%= @user.email %></p>
          <p>自己紹介: <%= @user.introduction %></p>
        </div>
      </div>

      <% if current_user == @user %>
        <div class="col-md-4 col-md-offset-4 mypage-data-btn">
          <%= link_to "編集 / その他設定", edit_user_path(@user), class: "btn col-md-8 col-md-offset-2 btn-ellipse" %>
        </div>
      <% end %>

      <div class="col-md-10 col-md-offset-1">
        <p class="mypage">投稿</p>
        <% @posts.each do |post| %>
          <div class="col-md-3">
            <div class="col-md-12 post-index">
              <section>

                <%= attachment_image_tag post, :image, size: "170x140", format: "png" %>
                <label class="post-category"><span># </span><%= post.post_category.category %></label>
                <p class="post-content"><%= post.post_content %></p>
                <p class="post-arrow"><%= link_to "→", post_path(post.id) %></p>

                <p class="post-content"><i class="fa fa-comment"></i> 0 comment<br>
                <i class="fa fa-flag" style="color: #ff5752;"></i> 3 cheer</p>

                <p class="post-user"><%= post.created_at %></p>

              </section>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row paginate">
        <div class="col-md-4 col-md-offset-4">
          <%= paginate @posts, class: "paginate" %>
        </div>
      </div>

      <div class="col-md-12 main-favorite">
        <h2>Favorite</h2>
        <p><%= fa_icon("heart") %> お気に入りしたカテゴリ</p>
      </div>

      <% @favorite_categories.each do |fovorite_category| %>
        <div class="col-md-3">
          <div class="col-md-12 post-index">
            <section>
              <%= attachment_image_tag fovorite_category, :category_image, size: "220x190", format: "png" %>
              <li><%= link_to "fovorite_category.post_category.category", "post_category_path(favorite_category)", class:"btn btn-default btn-search btn-block" %></li>
            </section>
          </div>
        </div>
      <% end %>


      <div class="form col-md-4 col-md-offset-4">
        <%= form_with model: @post, url: "#", local: true do |f| %>
          <div class="form-group">
            <label for="control-label">お気に入りを追加</label>
            <%= select_tag :post_category_id, options_from_collection_for_select(PostCategory.all, :id, :category, params[:post_category_id]), {prompt: "選択", class: "js-searchable form-control", name: "post_category_id"} %>
          </div>
        <% end %>
      </div>

  </div>
</div>