<%= render "layouts/flash" %>

<div class="container">
  <div class="row">
    <!-- ユーザー情報 -->
    <%= render "users/user_info" %>
  </div>
</div>

<% if current_user == @user %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 tab-content">
      <!-- タブメニュー -->
      <ul class="nav nav-tabs nav-justified">
        <li role="mypage" class="active">
          <a href="#all-post" data-toggle="tab">
            <h3>All posts</h3><br><p class="small-title">投稿一覧</p>
          </a>
        </li>
        <li role="mypage">
          <a href="#fav-category" data-toggle="tab">
            <h3>Favorite category</h3><br><p class="small-title">お気に入りカテゴリ</p>
          </a>
        </li>
        <li role="mypage">
          <a href="#chart" data-toggle="tab">
            <h3>My chart</h3><br><p class="small-title">頑張りチャート</p>
          </a>
        </li>
      </ul>

      <!-- タブコンテンツ -->
      <div class="tab-content">
        <div class="tab-pane active" id="all-post">
          <!-- 投稿一覧 -->
          <%= render "users/user_posts" %>
        </div>

        <div class="tab-pane" id="fav-category">
          <!-- お気に入りカテゴリ -->
          <%= render "users/user_fav" %>
        </div>

        <div class="tab-pane" id="chart">
          <p class="chart">
            <label>
              [ 月別投稿件数 <%= fa_icon("pencil") %> ]
            </label>
          </p>
          <%= column_chart @chart_data,
            colors: ["#76d9cd"],
            suffix: "件",
            messages: {empty: "投稿がありません。New postから投稿ができます！"}
           %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <!-- 他人のユーザーページには投稿一覧のみ表示させる -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>All posts</h2>
      <p class="small-title">投稿一覧</p>
      <%= render "users/user_posts" %>
    </div>
    <div class="col-md-2 col-md-offset-5 back-btn">
     <p class="btn btn-block btn-ellipse ">
       <%= link_to "戻る ", :back %>
     </p>
   </div>
  </div>
<% end %>


<script type="text/javascript">
// いいね機能
$(function() {
  // イベント名 ajax:success レスポンスが成功時、発火
  $(document).on("ajax:success", ".cheer-button", function(event) {
    let currentNo;
    let $cheerFlag_i = $(this).children().children('i')
    let $cheerFlag_span = $(this).children().children('span')

    // fa-flagクラスをもっているか判定
    if ($cheerFlag_i.hasClass('fa-flag-o')){
      $cheerFlag_i.removeClass('fa-flag-o').addClass('fa-flag');
      currentNo = $cheerFlag_span.html();
      $cheerFlag_span.html(Number(currentNo) + 1);
      $(this).attr("data-method", "delete");
    } else {
      $cheerFlag_i.removeClass('fa-flag').addClass('fa-flag-o');
      currentNo = $cheerFlag_span.html();
      $cheerFlag_span.html(Number(currentNo) - 1);
      $(this).attr("data-method", "post");
    }
  })
});
</script>

