<%= render "layouts/flash" %>

<div class="container">
  <div class="row">

      <div class="col-md-10 col-md-offset-1">
        <p class="mypage">基本情報</p>
      </div>
      <div class="mypage-data">
        <div class="col-md-4 col-md-offset-2">
          <label>写真</label>
          <div class="user-image-box">
            <%= attachment_image_tag @user, :user_image, format: "jpg", class: "user-image" %>
          </div>
        </div>
        <div class="col-md-4">
          <section>
            <div>
              <label>名前</label>
              <p><%= @user.name %></p>
              <label>メールアドレス</label>
              <p><%= @user.email %></p>
              <label>自己紹介</label>
              <p><%= @user.introduction %></p>
            </div>
          </section>
        </div>
      </div>

      <% if current_user == @user %>
        <div class="col-md-4 col-md-offset-4 mypage-data-btn">
          <%= link_to "編集 / その他設定", edit_user_path(@user), class: "btn col-md-8 col-md-offset-2 btn-ellipse" %>
        </div>
      <% end %>

      <div class="col-md-10 col-md-offset-1">
        <p class="mypage">投稿</p>
        <% @posts.each do |post| %>
          <div class="col-md-3">
            <div class="col-md-12 thumbnail post-index-maypage">
              <section>

                <%= attachment_image_tag post, :image, :fill, 1000, 1000, format: "png", class: "img-responsive" %>

                <div class= "caption">
                  <div class="post-content-body-mypage">
                    <div class="post-content-body-mypage-top">
                      <label class="post-category"><span># </span><%= post.post_category.category %></label>
                      <p class="post-content"><%= post.post_content.truncate(70) %></p>
                    </div>
                    <div class="post-content-body-mypage-bottom">
                      <p class="pull-right post-arrow"><%= link_to "▶︎", post_path(post.id) %></p>
                    </div>
                  </div>

                  <p class="post-user"><%= post.created_at.strftime('%Y/%m/%d') %></p>

                  <p class="post-content">
                    <i class="fa fa-comment-o"></i> <%= link_to "#{post.post_comments.count} comment", post_path(post.id), class: "post-content" %>&nbsp;&nbsp;
                    <i class="fa fa-flag"></i> <%= post.post_cheers.count %> cheer
                  </p>
                </div>

              </section>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row paginate">
        <div class="col-md-4 col-md-offset-4">
          <%= paginate @posts, class: "paginate" %>
        </div>
      </div>

      <% if current_user == @user %>
        <div class="col-md-10 col-md-offset-1">
          <p class="mypage">お気に入りしたカテゴリ</p>

          <% @favorite_categories.each do |favorite_category| %>
            <div class="col-md-3">
              <div class="col-md-12 post-index-favorite-mypage">
                <section>
                  <%= attachment_image_tag favorite_category.post_category, :category_image, size: "170x140", format: "png" %>
                  <p class="btn btn-default btn-search btn-block">
                    <%= link_to post_category_path(favorite_category.post_category.id) do %>
                      # <%= favorite_category.post_category.category %>
                    <% end %>
                  </p>
                </section>
              </div>

              <%= link_to "削除", favorite_category_path(favorite_category.id), method: :delete, data: {confirm: "削除しますか？"}, class: "btn col-md-6 col-md-offset-3 btn-ellipse-red" %>

            </div>
          <% end %>
        </div>

        <div class="form col-md-4 col-md-offset-4 mypage-form">
          <%= form_with model: @favorite_category, url: favorite_categories_path, local: true do |f| %>
            <div class="form-group">
              <label for="control-label">お気に入りを追加</label>
              <%= select_tag :post_category_id, options_from_collection_for_select(PostCategory.all, :id, :category, params[:post_category_id]), {prompt: "選択", class: "form-control", name: "post_category_id"} %>
            </div>

            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <%= f.submit "追加", class: "btn col-md-8 col-md-offset-2 btn-ellipse" %>
              </div>
            </div>

          <% end %>
        </div>

      <% end %>
  </div>
</div>