<%= render "layouts/flash" %>

<h2>Mypage</h2>
<p class="small-title">マイページ</p>

<div class="info">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-4">
        <div class="mypage-data">
          <div class="col-md-4">
            <div class="user-image-box">
              <%= attachment_image_tag @user, :user_image, :fill, 200, 200, format: "jpg", class: "img-responsive user-image" %>
            </div>
          </div>
          <div class="col-md-7">
            <section>
              <div>
                <label>名前</label>
                <p><%= @user.name %></p>
                <label>メールアドレス</label>
                <p><%= @user.email %></p>
                <label>自己紹介</label>
                <p><%= @user.introduction %></p>
              </div>
            </section>
          </div>
        </div>

        <% if current_user == @user %>
          <div class="col-md-4 col-md-offset-4 mypage-data-btn">
            <%= link_to "編集 / その他設定", edit_user_path(@user), class: "btn btn-ellipse" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 tab-content">
    <!-- タブメニュー -->
    <ul class="nav nav-tabs nav-justified">
      <li role="mypage" class="active">
        <a href="#all-post" data-toggle="tab">
          <h3>All posts</h3><br><p class="small-title">投稿一覧</p>
        </a>
      </li>
      <li role="mypage">
        <a href="#fav-category" data-toggle="tab">
          <h3>Favorite category</h3><br><p class="small-title">お気に入りカテゴリ</p>
        </a>
      </li>
      <li role="mypage">
        <a href="#chart" data-toggle="tab">
          <h3>My chart</h3><br><p class="small-title">頑張りチャート</p>
        </a>
      </li>
    </ul>

    <!-- タブコンテンツ -->
    <div class="tab-content">

      <div class="tab-pane active" id="all-post">
        <div class="col-md-12 tab-content">
          <% @posts.each do |post| %>
            <div class="col-md-3">
              <div class="col-md-12 thumbnail post-index-maypage">
                <section>

                  <%= link_to post_path(post.id), class: "image-link" do %>
                    <%= attachment_image_tag post, :image, :fill, 280, 220, format: "png", fallback: "/images/no-image.png", class: "img-responsive", id: "postimage" %>
                  <% end %>

                  <div class= "caption">
                    <div class="post-content-body-mypage">
                      <div class="post-content-body-mypage-top">

                        <label class="btn btn-ellipse">
                          <%= link_to post_category_path(post.post_category.id) do %>
                            # <%= post.post_category.category %>
                          <% end %>
                        </label>

                        <p class="post-content"><%= post.post_content.truncate(70) %></p>
                      </div>
                      <div class="post-content-body-mypage-bottom">
                        <p class="pull-right post-arrow"><%= link_to "more ▶︎", post_path(post.id) %></p>
                      </div>
                    </div>

                    <p class="post-user"><%= post.created_at.strftime('%Y/%m/%d') %></p>

                    <p class="post-content">

                      <!-- cheer機能 -->
                      <% if user_signed_in? %>
                          <% if post.post_cheered_by?(current_user) %>
                            <li class="post_cheer">
                              <%= link_to post_post_cheers_path(post), class: "cheer-button", method: :delete, remote: true do %>
                                <p class="post_cheer">
                                  <i class="fa fa-flag" id="<%= post.id %>"></i>
                                  <span class="cheer_count"><%= post.cheer_count %></span> cheer
                                </p>
                              <% end %>
                            </li>
                          <% else %>
                            <li class="post_cheer">
                              <!-- link_toはmethodを指定しないとGETで返されるのでPOSTを定義 リクエストを送信 非同期なのでremote trueを定義 -->
                              <%= link_to post_post_cheers_path(post), class: "cheer-button", method: :post, remote: true do %>
                                <p class="post_cheer">
                                  <!-- idを指定することでjson形式で返される -->
                                  <i class="fa fa-flag-o" id="<%= post.id %>"></i>
                                  <span class="cheer_count"><%= post.cheer_count %></span> cheer
                                </p>
                              <% end %>
                            </li>
                          <% end %>

                      <% else %>
                        <li class="post_cheer">
                          <p class="post_cheer">
                            <i class="fa fa-flag-o" id="<%= post.id %>"></i>
                            <%= post.cheer_count %> cheer
                          </p>
                        </li>
                      <% end %>

                      <i class="fa fa-comment-o"></i> <%= link_to "#{post.post_comments.count} comment", post_path(post.id), class: "post-content" %>
                    </p>
                  </div>

                </section>
              </div>
            </div>
          <% end %>
        </div>

        <div class="row paginate">
          <div class="col-md-4 col-md-offset-4">
            <%= paginate @posts, class: "paginate" %>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="fav-category">
        <% if current_user == @user %>
          <div class="col-md-12 tab-content favorite">
            <% @favorite_categories.each do |favorite_category| %>
              <div class="col-md-3">
                <div class="col-md-12 2 post-index-fav">
                  <section>
                    <%= attachment_image_tag favorite_category.post_category, :category_image, :fill, 230, 160, format: "png", class: "img-responsive" %>
                    <p class="btn btn-default btn-search btn-block">
                      <%= link_to post_category_path(favorite_category.post_category.id) do %>
                        # <%= favorite_category.post_category.category %>
                      <% end %>
                    </p>
                  </section>
                </div>

                <%= link_to "×", favorite_category_path(favorite_category.id), title: "お気に入りから削除する", "data-toggle": "tooltip", "data-placement": "bottom", method: :delete, class: "btn btn-ellipse-fav" %>

              </div>
            <% end %>
          </div>

          <div class="form col-md-4 col-md-offset-4 mypage-form">
            <%= form_with model: @favorite_category, url: favorite_categories_path, local: true do |f| %>
              <div class="form-group">
                <label for="control-label">お気に入りを追加</label>
                <%= select_tag :post_category_id, options_from_collection_for_select(PostCategory.all, :id, :category, params[:post_category_id]), {prompt: "選択", class: "form-control", name: "post_category_id"} %>
              </div>

              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <%= f.submit "追加", class: "btn col-md-8 col-md-offset-2 btn-ellipse" %>
                </div>
              </div>

            <% end %>
          </div>
        <% end %>
      </div>

      <div class="tab-pane" id="chart">
        <p class="chart"></p>
        <%= column_chart @chart_data,
          colors: ["#76d9cd"],
          suffix: "件",
          messages: {empty: "投稿がありません"}
         %>
        <p class="chart">月別投稿件数</p>
      </div>
    </div>

  </div>
</div>



<script type="text/javascript">
$(function() {
  // イベント名 ajax:success レスポンスが成功時、発火
  $(document).on("ajax:success", ".cheer-button", function(event) {
    let currentNo;
    let $cheerFlag_i = $(this).children().children('i')
    let $cheerFlag_span = $(this).children().children('span')

    // fa-flagクラスをもっているか判定
    // かつ、どのpost.idがclickされか判断
    if ($cheerFlag_i.hasClass('fa-flag-o')){
      $cheerFlag_i.removeClass('fa-flag-o').addClass('fa-flag');
      currentNo = $cheerFlag_span.html();
      $cheerFlag_span.html(Number(currentNo) + 1);
      $(this).attr("data-method", "delete");
    } else {
      $cheerFlag_i.removeClass('fa-flag').addClass('fa-flag-o');
      currentNo = $cheerFlag_span.html();
      $cheerFlag_span.html(Number(currentNo) - 1);
      $(this).attr("data-method", "post");
    }
  })
});


// <!-- ツールチップ
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});

</script>

