<div class="like-link" id="like-link-<%= post.id %>">
  <li class="post_cheer">
    <% if current_user.post_cheers.find_by(post_id: post.id) %>
      <%= link_to post_post_cheers_path(post.id), method: :delete, remote: true do %>
          <p class = "post_cheer">
            <i class="fa fa-flag" id="<%= @post.id %>"></i>
            <%= post.post_cheers.count %>cheer
          </p>
      <% end %>

    </li>
  <% else %>
    <li class="post_cheer">
      <%= link_to post_post_cheers_path(post.id), method: :post, remote: true do %>
          <p class = "cheer-button">
            <i class="fa fa-flag-o" id="<%= @post.id %>"></i>
            <%= post.post_cheers.count %>cheer
          </p>
      <% end %>
    </li>
  <% end %>
</div>

