<!-- マイページ 投稿一覧 -->
<div class="tab-content">
  <% if @posts.present? %>
    <div class="row">
      <div class="col-md-12">
        <% @posts.each do |post| %>
          <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <div class="col-md-12 thumbnail post-index-maypage">
              <section>
                <%= link_to admins_post_path(post.id), class: "image-link" do %>
                  <%= attachment_image_tag post, :image, :fill, 290, 220, format: "png", fallback: "/images/no-image.png", class: "img-responsive", id: "postimage" %>
                <% end %>

                <div class= "caption">
                  <div class="post-content-body">
                    <div class="post-content-body-top">
                      <label class="btn btn-ellipse-index">
                        <%= link_to admins_post_category_path(post.post_category.id) do %>
                          # <%= post.post_category.category %>
                        <% end %>
                      </label>
                      <p class="post-content"><%= post.post_content.truncate(70) %></p>
                    </div>
                    <div class="post-content-body-bottom-mypage">
                      <div class="pull-right post-arrow"><%= link_to "more ▶︎", admins_post_path(post.id) %>
                      </div>
                    </div>
                  </div>
                  <div class="post-user-mypage">
                    <%= post.created_at.strftime('%Y/%m/%d') %>
                  </div>
                  <div class="post_cheer">
                    <i class="fa fa-flag-o" id="<%= post.id %>"></i>
                      <%= post.cheer_count %> cheer
                      &nbsp;&nbsp;
                    <div class="comment-link">
                      <i class="fa fa-comment-o"></i> <%= link_to "#{post.post_comments.count} comment", admins_post_path(post.id), class: "index-comment" %>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="paginate">
          <div id="current_page">
            <%= paginate @posts, class: "paginate" %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="no-post">
      <p>投稿がありません。</p>
    </div>
  <% end %>
</div>