<%= render "layouts/flash" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>All users</h2>
      <p class="small-title">ユーザー一覧</p>

      <!-- 検索機能 -->
      <%= render "admins/users/search" %>

      <div class="row user-body">
        <div class="col-md-8 col-md-offset-2">
          <table class="table table-hover" id="table">
            <thead>
              <tr>
                <th>ユーザーID</th>
                <th>画像</th>
                <th>名前</th>
                <th></th>
              </tr>
            </thead>

            <% @users.each do |user| %>
            <tbody>
              <tr>
                <td><%= user.id %></td>
                <td>
                  <div class="index-user-image-box">
                    <%= attachment_image_tag user, :user_image, :fill, 50, 50, format: 'jpeg', fallback: "/images/user-img.png", class: "img-responsive index-user-image" %>
                  </div>
                </td>
                <td><%= user.name %></td>
                <td><%= link_to "詳細", admins_user_path(user.id), class: "btn btn-ellipse" %></td>
              </tr>
           </tbody>

          <% end %>
            </table>
        </div>
      </div>

      <div class="paginate">
        <%= paginate @users, class: "paginate" %>
      </div>

      <div class="user-all-btn">
        <%= link_to "ユーザーを全て表示", admins_users_path, class: "btn btn-ellipse-green" %>
      </div>

    </div>
  </div>
</div>