<!-- jscroll -->
<%= render "layouts/scroll" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 user-info">
        <div class="col-md-5">
          <div class="user-image-box">
            <%= attachment_image_tag @user, :user_image, :fill, 200, 200, format: "jpg", fallback: "/images/user-img.png", class: "img-responsive user-image" %>
          </div>
          <label class="info-username"><%= @user.name %></label>
        </div>
        <div class="col-md-7 introduction">
          <% if @user.introduction.present? %>
            <p><%= @user.introduction %></p>
          <% else %>
            <% if @user = current_user %>
              <p>自己紹介文が登録されていません。</p>
            <% end %>
          <% end %>
        </div>

        <div class="pull-right mypage-data-btn">
          <%= link_to "ユーザーを削除する", admins_user_path(@user), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-ellipse-red" %>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 tab-content">
    <!-- タブメニュー -->
    <ul class="nav nav-tabs nav-justified">
      <li role="mypage" class="active">
        <a href="#all-post" data-toggle="tab">
          <h3>All posts</h3><br><p class="small-title">投稿一覧</p>
        </a>
      </li>
      <li role="mypage">
        <a href="#fav-category" data-toggle="tab">
          <h3>Favorite category</h3><br><p class="small-title">お気に入りカテゴリ</p>
        </a>
      </li>
      <li role="mypage">
        <a href="#chart" data-toggle="tab">
          <h3>My chart</h3><br><p class="small-title">頑張りチャート</p>
        </a>
      </li>
    </ul>

    <!-- タブコンテンツ -->
    <div class="tab-content">
      <div class="tab-pane active" id="all-post">
        <%= render "admins/users/user_posts" %>
      </div>

      <div class="tab-pane" id="fav-category">
        <div class="col-md-12 tab-content favorite">
          <% if @posts.present? %>
            <% @favorite_categories.each do |favorite_category| %>
              <div class="col-md-3">
                <div class="col-md-12 2 post-index-fav">
                  <section>
                    <%= link_to admins_post_path(favorite_category.id), class: "image-link" do %>
                      <%= attachment_image_tag favorite_category.post_category, :category_image, :fill, 230, 160, format: "png", class: "img-responsive", id: "favimage" %>
                    <% end %>

                    <p class="btn btn-default btn-fav btn-block">
                      <%= link_to admins_post_category_path(favorite_category.post_category.id) do %>
                        # <%= favorite_category.post_category.category %>
                      <% end %>
                    </p>
                  </section>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="col-md-4 col-md-offset-4 no-post">
              <p>登録がありません。</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="tab-pane" id="chart">
          <p class="chart"><label>
            [ 月別投稿件数 <%= fa_icon("pencil") %> ]
          </label></p>
        <%= column_chart @chart_data,
          colors: ["#76d9cd"],
          suffix: "件",
          messages: {empty: "投稿がありません。New postから投稿ができます！"}
         %>
      </div>
    </div>

    <div class="col-md-2 col-md-offset-5 admin-user-index-btn">
      <%= link_to "ユーザー一覧へ", admins_users_path, class: "btn btn-block btn-ellipse" %>
    </div>
  </div>
</div>

