<div class="container">
  <div class="row">
    <!-- ユーザー情報 -->
    <%= render "admins/users/user_info" %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 tab-content">
    <!-- タブメニュー -->
    <ul class="nav nav-tabs nav-justified">
      <li role="mypage" class="active">
        <a href="#all-post" data-toggle="tab">
          <h3>All posts</h3><br><p class="small-title">投稿一覧</p>
        </a>
      </li>
      <li role="mypage">
        <a href="#fav-category" data-toggle="tab">
          <h3>Favorite category</h3><br><p class="small-title">お気に入りカテゴリ</p>
        </a>
      </li>
      <li role="mypage">
        <a href="#chart" data-toggle="tab">
          <h3>My chart</h3><br><p class="small-title">頑張りチャート</p>
        </a>
      </li>
    </ul>
    <!-- タブコンテンツ -->
    <div class="tab-content">
      <div class="tab-pane active" id="all-post">
        <!-- 投稿一覧 -->
        <%= render "admins/users/user_posts" %>
      </div>
      <div class="tab-pane" id="fav-category">
        <!-- お気に入りカテゴリ -->
        <%= render "admins/users/user_fav" %>
      </div>
      <div class="tab-pane" id="chart">
        <p class="chart">
          <label>
            [ 月別投稿件数 <%= fa_icon("pencil") %> ]
          </label>
        </p>
        <%= column_chart @chart_data,
          colors: ["#76d9cd"],
          suffix: "件",
          messages: {empty: "投稿がありません。New postから投稿ができます！"}
         %>
      </div>
    </div>

    <div class="col-md-2 col-md-offset-5 admin-user-index-btn">
      <%= link_to "ユーザー一覧へ", admins_users_path, class: "btn btn-ellipse" %>
    </div>
  </div>
</div>

