<!-- flash message -->
<%= render "layouts/flash" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Post</h2>
      <p class="small-title">投稿</p>

      <div class="col-md-10 col-md-offset-1 post-show-body">
        <div class="col-md-6">
            <%= attachment_image_tag @post, :image, :fill, 520, 430, format: "jpg", fallback: "/images/no-image.png", class: "img-responsive img-rounded" %>
        </div>
        <div class="col-md-6">
          <label class="btn btn-ellipse post-category">
            <%= link_to admins_post_category_path(@post.post_category.id) do %>
              # <%= @post.post_category.category %>
            <% end %>
          </label>

          <p class="post-show-content-text"><%= @post.post_content%></p>

          <div class="post-show-user">
            <p>
              <%= @post.created_at.strftime('%Y/%m/%d') %>&nbsp;&nbsp; posted by
            </p>
            <%= link_to admins_user_path(@post.user.id), class: "post-user-link" do %>
              <div class="col-md-1 postuser-image-box">
                <%= attachment_image_tag @post.user, :user_image, :fill, 30, 30, format: "jpg", class: "img-responsive postuser-image" %>
              </div>
              <%= @post.user.name %>
            <% end %>
          </div>

          <div class="post-show-content">
            <p>
              <i class="fa fa-flag-o" id="<%= @post.id %>"></i>
              <%= @post.cheer_count %> cheer &nbsp;&nbsp;
              <i class="fa fa-comment-o"></i> <%= @post.post_comments.count %> comment
            </p>
          </div>
        </div>

      </div>
    </div>


      <!-- コメント表示欄 -->
      <div class="col-md-6 col-md-offset-3 comment-form">
      </div>
      <%= render "admins/posts/comment" %>

      <div class="row">
        <div class="btn-post-show">
          <div class="col-md-8 col-md-offset-2">
            <div class="col-md-2 col-md-offset-4 btn-link">
              <p class="btn btn-ellipse-green">
                <%= link_to "<< 一覧へ ", admins_posts_path %>
              </p>
            </div>

            <div class="col-md-2">
                <%= link_to "× 投稿削除", admins_post_path(@post), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-ellipse-red" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>