<%= render "layouts/flash" %>

<div class="main">
  <!-- スライド -->
  <%= render "posts/swiper" %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-favorite">
          <h2>Favorite</h2>
          <p><%= fa_icon("heart") %> 最近のお気に入りカテゴリ</p>
          <div class="favorite">
            <div class="favorite-login">
              <p>＼ ログインするとお気に入りしたカテゴリを閲覧できます ／</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-pickup">
    <%= render "admins/post_categories/hot_category" %>
  </div>
  <%= render "admins/post_categories/category_index" %>
</div>

<!-- ツールチップ -->
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>