<% if user_signed_in? %>

    <% if @post.post_cheered_by?(current_user) %>
      <li class="post_cheer">
        <%= link_to post_post_cheers_path(@post), id: "cheer-button", method: :delete, remote: true do %>
          <p class="post_cheer">
            <i class="fa fa-flag" id="<%= @post.id %>"></i>
            <%= @post.cheer_count %> cheer
          </p>
        <% end %>
      </li>
    <% else %>
      <li class="post_cheer">
        <!-- link_toはmethodを指定しないとGETで返されるのでPOSTを定義 リクエストを送信 非同期なのでremote trueを定義 -->
        <%= link_to post_post_cheers_path(@post), id: "cheer-button", method: :post, remote: true do %>
          <p class="post_cheer">
            <i class="fa fa-flag-o" id="<%= @post.id %>"></i>
            <%= @post.cheer_count %> cheer
          </p>
        <% end %>
      </li>
    <% end %>

<% else %>
  <li class="post_cheer">
    <p class="post_cheer">
      <i class="fa fa-flag-o" id="<%= @post.id %>"></i>
      <%= @post.cheer_count %> cheer
    </p>
  </li>

<% end %>