<% if user_signed_in? %>

  <% if post.cheer_user(current_user.id) %>
    <%= link_to post_post_cheers_path(cheer, post_id: post.id), method: :delete, id: "cheer-button", remote: true do %>
      <i class="fa fa-flag" aria-hidden="true" style="color: #ff5752;"></i>
      <span>
        <%= post.cheer_count %>
      </span>
    <% end %>
  <% else %>
    <%= link_to post_post_cheers_path(post), id: "cheer-button", remote: true do %>
      <i class="fa fa-flag-o" aria-hidden="true"></i>
      <span>
        <%= post.cheer_count %>
      </span>
    <% end %>
  <% end %>

<% else %>
  <%= fa_icon("flag-o") %>
  <span>
    <%= post.cheer_count %>
  </span>
<% end %>
