<!-- 投稿内容文字数カウント -->
<%= render "posts/text_count" %>

<%= render "layouts/flash" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 post-main">
      <h2>Edit post</h2>
      <p class="small-title">投稿編集</p>

        <div class="form">
          <%= form_for(@post) do |f| %>

            <div class="col-md-5">
              <div class="form-group">
                <label for="control-label">写真</label><br>
                <div class="preview">
                  <%= attachment_image_tag @post, :image, :fill, 280, 190, format: 'jpg', class: "img-responsive img-rounded" %>
                </div>
                <%= f.attachment_field :image, type: "file", class: "btn btn-default form-control edit-img" %>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label for="control-label">カテゴリ</label>
                <%= select_tag :post_category_id, options_from_collection_for_select(PostCategory.all, :id, :category, params[:post_category_id]), {prompt: @post.post_category.category, class: "form-control", name: "post_category_id"} %>
              </div>

              <div class="form-group">
                <label for="control-label">頑張りつぶやき</label>
                <%= f.text_area :post_content, rows:7, maxlength:140, class: "form-control", id: "input-text" %>
                <p class="pull-right" id="counter">0/140</p>
              </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
              <div class="row post-show-btn">
                <div class="col-md-3 col-md-offset-3">
                  <%= link_to "キャンセル", post_path(@post), class: "btn btn-block btn-ellipse" %>
                </div>

                <div class="col-md-3">
                  <%= f.submit "更新", class: "btn btn-block btn-ellipse" %>
                </div>
              </div>
            </div>

            <div class="col-md-12 edit-delete-btn">
              <label>投稿を削除する</label>
              <div class="col-md-12">
                <%= link_to "×", post_path(@post), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-circle" %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>


<!-- 画像ファイルプレビュー -->
<script type="text/javascript">
$(function(){
  $('form').on('change', 'input[type="file"]', function(e) {
    var file = e.target.files[0],
        reader = new FileReader(),
        $preview = $(".preview");
        t = this;
    if(file.type.indexOf("image") < 0){
      return false;
    }
    reader.onload = (function(file) {
      return function(e) {
        $preview.empty();
        $preview.append($('<img>').attr({
                  src: e.target.result,
                  width: "280px",
                  class: "preview",
                  title: file.name
              }));
      };
    })(file);
    reader.readAsDataURL(file);
  });
});
</script>