<!-- jscroll -->
<%= render "layouts/scroll" %>

<!-- flash message -->
<%= render "layouts/flash" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>All posts</h2>
      <p class="small-title">投稿一覧</p>

      <div class="posts-list jscroll">
        <% @posts.each do |post| %>
          <div class="col-md-3">
            <div class="col-md-12 thumbnail post-index">
              <section>

                <%= attachment_image_tag post, :image, :fill, 280, 220, format: "png", class: "img-responsive" %>

                <div class= "caption">
                  <div class="post-content-body">
                    <div class="post-content-body-top">

                      <label class="btn btn-ellipse">
                        <%= link_to post_category_path(post.post_category.id) do %>
                          # <%= post.post_category.category %>
                        <% end %>
                      </label>

                      <!-- 投稿内容は70文字以上は省略 -->
                      <p class="post-content"><%= post.post_content.truncate(70) %></p>
                    </div>
                    <div class="row post-content-body-bottom">
                      <p class="pull-right post-arrow"><%= link_to "▶︎", post_path(post.id) %></p>
                    </div>
                  </div>

                  <p class="post-user">
                    <%= post.created_at.strftime('%Y/%m/%d') %><br>posted by <%= post.user.name %>
                  </p>

                  <p class="post-content">
                    <i class="fa fa-comment-o"></i> <%= link_to "#{post.post_comments.count} comment", post_path(post.id), class: "post-content" %>&nbsp;&nbsp;
                    <i class="fa fa-flag"></i> <%= post.post_cheers.count %> cheer
                  </p>
                </div>

              </section>
            </div>
          </div>
        <% end %>
        <%= paginate @posts %>
      </div>

    </div>
  </div>
</div>