


<!-- jscroll -->
<%= render "layouts/scroll" %>

<!-- flash message -->
<%= render "layouts/flash" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>All posts</h2>
      <p class="small-title">投稿一覧</p>

      <div class="posts-list jscroll" id="index-scroll">
        <% @posts.each do |post| %>
          <div class="col-md-3">
            <div class="col-md-12 thumbnail post-index">
              <section>

                <%= attachment_image_tag post, :image, :fill, 280, 220, format: "png", class: "img-responsive" %>

                <div class= "caption">
                  <div class="post-content-body">
                    <div class="post-content-body-top">

                      <p class="btn btn-ellipse">
                        <%= link_to post_category_path(post.post_category.id) do %>
                          # <%= post.post_category.category %>
                        <% end %>
                      </p>

                      <!-- 投稿内容 70文字以上は省略 -->
                      <p class="post-content"><%= post.post_content.truncate(70) %></p>
                    </div>
                    <div class="row post-content-body-bottom">
                      <p class="pull-right post-arrow"><%= link_to "▶︎", post_path(post.id) %></p>
                    </div>
                  </div>

                  <p class="post-user">
                    <%= post.created_at.strftime('%Y/%m/%d') %><br><%= link_to "posted by #{post.user.name}", user_path(post.user.id) %>
                  </p>

                  <p class="post-content">
                    <i class="fa fa-comment-o"></i> <%= link_to "#{post.post_comments.count} comment", post_path(post.id), class: "post-content" %>&nbsp;&nbsp;
                      <!-- cheer機能 -->

<script type="text/javascript">
$(function() {

  // イベント名 ajax:success レスポンスが成功時、発火
  $(document).on("ajax:success", "#cheer-button", function(event) {
    let currentNo;
    // fa-flagクラスをもっているか判定
    // かつ、どのpost.idがclickされか判断
    if($('p .post_cheer').hasClass('fa-flag')) && ($('#<%= post.id %>').on("click", function())){
      var id =  $(this).attr("id");
      $('p .post_cheer').removeClass('fa-flag').addClass('fa-flag-o');
      currentNo = $('#cheer_count').html();
      $('#cheer_count').html(Number(currentNo) - 1);
      $("#cheer-button").attr("data-method", "post");
    } else {
      $('p .post_cheer').removeClass('fa-flag-o').addClass('fa-flag');
      currentNo = $('#cheer_count').html();
      $('#cheer_count').html(Number(currentNo) + 1);
      $("#cheer-button").attr("data-method", "delete");
    }
  })
})
</script>

<% if user_signed_in? %>

    <% if post.post_cheered_by?(current_user) %>
      <li class="post_cheer">
        <%= link_to post_post_cheers_path(post), id: "cheer-button", method: :delete, remote: true do %>
          <p class="post_cheer">
            <i class="fa fa-flag" id="<%= post.id %>"></i>
            <span id="cheer_count"><%= post.cheer_count %></span> cheer
          </p>
        <% end %>
      </li>
    <% else %>
      <li class="post_cheer">
        <!-- link_toはmethodを指定しないとGETで返されるのでPOSTを定義 リクエストを送信 非同期なのでremote trueを定義 -->
        <%= link_to post_post_cheers_path(post), id: "cheer-button", method: :post, remote: true do %>
          <p class="post_cheer">
            <!-- idを指定することでjson形式で返される -->
            <i class="fa fa-flag-o" id="<%= post.id %>"></i>
            <span id="cheer_count"><%= post.cheer_count %></span> cheer
          </p>
        <% end %>
      </li>
    <% end %>

<% else %>
  <li class="post_cheer">
    <p class="post_cheer">
      <i class="fa fa-flag-o" id="<%= post.id %>"></i>
      <%= post.cheer_count %> cheer
    </p>
  </li>

<% end %>

                  </p>
                </div>

              </section>
            </div>
          </div>
        <% end %>
        <!-- 無限スクロール -->
        <div id="post_index_paginate">
          <%= paginate @posts %>
        </div>
      </div>

    </div>
  </div>
</div>