<%= render "layouts/flash" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>All posts</h2>
      <p class="small-title">投稿一覧</p>

        <% @posts.each do |post| %>
          <div class="col-md-3">
            <div class="col-md-12 post-index">
              <section>

                <%= attachment_image_tag post, :image, size: "220x190", format: "png" %>
                <label class="post-category"><span># </span><%= post.post_category.category %></label>
                <p class="post-content"><%= post.post_content %></p>
                <p class="post-arrow"><%= link_to "→", post_path(post.id) %></p>

                <p class="post-user">
                  <%= post.created_at.strftime('%Y/%m/%d') %><br>posted by <%= post.user.name %>
                </p>

                <p class="post-content">
                  <i class="fa fa-comment"></i> <%= link_to "#{post.post_comments.count} comment", post_path(post.id), class: "post-content" %>
                </p>

                <p class="post_cheer">
                  <i class="fa fa-flag"></i> <%= post.post_cheers.count %> cheer
                </p>

              </section>
            </div>
          </div>
        <% end %>

    </div>
  </div>
</div>