<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Post</h2>
      <p class="small-title">投稿</p>

      <div class="col-md-6 col-md-offset-3 post-show-body">
        <div class="col-md-12">
          <section>
            <%= attachment_image_tag @post, :image, size: "520x430", format: "jpg" %>
              <!-- 非同期で画像を表示させるなら、写真とカテゴリ、つぶやきは横並びにする -->
            <label class="post-category"><span># </span><%= @post.post_category.category %></label>

            <p class="post-show-content"><%= @post.post_content%></p>

            <p class="post-show-user">
              <%= @post.created_at.strftime('%Y/%m/%d') %> posted by <%= @post.user.name %>
            </p>


                <%= render "posts/post_cheer" %>


            <p class="post-comment">
              <i class="fa fa-comment-o"></i> <%= @post.post_comments.count %> comment
            </p>

          </section>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3 comment-form">
        <%= form_for [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: "2", class: "form-control", placeholder: "コメント入力" %>
          <%= f.submit "送信", class: "btn pull-right" %>
        <% end %>
      </div>

        <% if @post_comment.errors.any? %>
          <ul id="error_explanation">
            <% @post_comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

      <div class="col-md-6 col-md-offset-3">
        <ul class="comment">
          <% @post.post_comments.each do |post_comment| %>
            <li>
              <div class="comment-text">
                <%= post_comment.comment %>
              </div>
            </li>

            <li>
              <div class="col-md-12">
                <p class="commented pull-right">
                  <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                  commented by <%= post_comment.user.name %>
                </p>
              </div>
            </li>

            <li>
              <% if post_comment.user == current_user %>
                <div class="row">
                  <div class="col-md-12">
                    <p class="commented pull-right">
                      <%= link_to "削除", post_post_comments_path(post_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-ellipse-red" %>
                    </p>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <% if @post.user.id == current_user.id %>
        <div class="row">
          <div class="col-md-2 col-md-offset-5 btn-link">
           <p class="btn col-md-2 btn-block btn-ellipse"><%= link_to "編集 ", edit_post_path(@post.id) %></p>
         </div>
       </div>
      <% end %>

    </div>
  </div>
</div>