<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Post</h2>
      <p class="small-title">投稿</p>

      <div class="col-md-6 col-md-offset-3 post-show-body">
        <div class="col-md-12">
          <section>

          <div>
            <div class="col-md-1 postuser-image-box">
              <%= attachment_image_tag @post.user, :user_image, :fill, 30, 30, format: "jpg", class: "img-responsive postuser-image" %>
            </div>
            <p>posted by <%= @post.user.name %></p>
          </div>




            <%= attachment_image_tag @post, :image, :fill, 520, 430, format: "jpg", class: "img-responsive img-rounded" %>
              <!-- 非同期で画像を表示させるなら、写真とカテゴリ、つぶやきは横並びにする -->

            <label class="btn btn-ellipse post-category">
              <%= link_to post_category_path(@post.post_category.id) do %>
                # <%= @post.post_category.category %>
              <% end %>
            </label>

            <p class="post-show-content-text"><%= @post.post_content%></p>

          <div class="post-show-user">
            <p>
              <%= @post.created_at.strftime('%Y/%m/%d') %>
            </p>
            <div class="col-md-1 postuser-image-box">
              <%= attachment_image_tag @post.user, :user_image, :fill, 30, 30, format: "jpg", class: "img-responsive postuser-image" %>
            </div>
            <p><%= link_to "posted by #{@post.user.name}", user_path(@post.user.id) %></p>
          </div>

            <div class="post-show-content">
              <p>
                <%= render "posts/post_cheer" %>

                <i class="fa fa-comment-o"></i> <%= @post.post_comments.count %> comment
              </p>
            </div>

          </section>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3 comment-form">
        <%= form_for [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: "2", class: "form-control", placeholder: "コメント入力" %>
          <%= f.submit "送信", class: "btn pull-right" %>
        <% end %>
      </div>

        <% if @post_comment.errors.any? %>
          <ul id="error_explanation">
            <% @post_comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

      <div class="col-md-6 col-md-offset-3">
        <ul class="comment">
          <% @post.post_comments.each do |post_comment| %>
            <li>
              <div class="comment-text">
                <%= post_comment.comment %>
              </div>
            </li>

            <li>
              <div class="col-md-12">
                <p class="commented pull-right">
                  <%= post_comment.created_at.strftime('%Y/%m/%d') %>&nbsp;&nbsp;
                  commented by <%= post_comment.user.name %>
                </p>
              </div>
            </li>

            <li>
              <% if post_comment.user == current_user %>
                <div class="row">
                  <div class="col-md-12">
                    <p class="commented pull-right">
                      <%= link_to "削除", post_post_comments_path(post_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-ellipse-red" %>
                    </p>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <% if @post.user.id == current_user.id %>
        <div class="row">
          <div class="col-md-2 col-md-offset-5 btn-link">
           <p class="btn col-md-2 btn-block btn-ellipse"><%= link_to "編集 ", edit_post_path(@post.id) %></p>
         </div>
       </div>
      <% end %>

    </div>
  </div>
</div>