<%= render "layouts/flash" %>

<!-- スライド -->
<%= render "posts/swiper" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-favorite">
        <h2>Favorite</h2>
        <p><%= fa_icon("heart") %> 最近のお気に入りカテゴリ</p>

        <div class="favorite">
          <%= render "post_categories/top_fav_category" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-pickup">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Pick up</h2>
        <p><%= fa_icon("fire") %> ホットなカテゴリ</p>

        <div class="hot-category">
          <%= render "post_categories/hot_category" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-search">
        <h2>Search</h2>
        <p><%= fa_icon("search") %> カテゴリ別にみる</p>

        <div class="category_index">
          <%= render "post_categories/category_index" %>
        </div>
      </div>
    </div>
  </div>
</div>