<%= render "layouts/flash" %>

<div class="main">

<!-- スライド -->
<%= render "posts/swiper" %>

  <div class="col-md-12 main-favorite">
    <h2>Favorite</h2>
    <p><%= fa_icon("heart") %> 最近のお気に入りカテゴリ</p>
    <%= render "post_categories/top_fav_category" %>
  </div>

  <div class="col-md-12 main-pickup">
    <h2>Pick up</h2>
    <p><%= fa_icon("fire") %> ホットなカテゴリ</p>

    <div class="col-md-10 col-md-offset-1 hot-category">
      <%= render "post_categories/hot_category" %>
    </div>
  </div>

  <div class="col-md-12 main-search">
    <h2>Search</h2>
    <p><%= fa_icon("search") %> カテゴリ別にみる</p>
    <%= render "post_categories/category_index" %>
  </div>

</div>