<%= render "layouts/flash" %>

<div class="main">
  <div class="main-visual">
    <div id="mainimage">
      <div style="background-image: url(/images/camera.jpeg)"></div>
      <div style="background-image: url(/images/boulder.jpg)"></div>
      <div style="background-image: url(/images/reading.jpg)"></div>
      <div style="background-image: url(/images/learning.jpg)"></div>
      <div style="background-image: url(/images/jog.jpeg)"></div>
      <div style="background-image: url(/images/diy.jpeg)"></div>
      <div style="background-image: url(/images/programing.jpeg)"></div>
    </div>
  </div>

  <div class="main-pickup">
    <h2>Pick up</h2>
    <p><%= fa_icon("fire") %> ホットなカテゴリ</p>

    <div class="col-md-10 col-md-offset-1 hot-category">
      <%= render "layouts/hot_category" %>
    </div>
  </div>

  <div class="main-search">
    <h2>Search</h2>
    <p><%= fa_icon("search") %> カテゴリ別にみる</p>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul style= "list-style:none;" >
            <div class="row">
              <div class="col-md-3">
                <li><%= link_to "# 読書", "/post_categories/1", class:"btn btn-default btn-search btn-block" %></li>
                <li><%= link_to "# ボルダリング", "/post_categories/2", class:"btn btn-default btn-search btn-block" %></li>
                <li><%= link_to "# 登山", "/post_categories/3", class:"btn btn-default btn-search btn-block" %></li>
              </div>

              <div class="col-md-3">
                <li><%= link_to "# 語学", "/post_categories/4", class:"btn btn-default btn-search btn-block" %></li>
                <li><%= link_to "# マラソン", "/post_categories/5", class:"btn btn-default btn-search btn-block" %></li>
                <li><%= link_to "# 家計簿", "/post_categories/6", class:"btn btn-default btn-search btn-block" %></li>
              </div>

              <div class="col-md-3">
                <li><%= link_to "# プログラミング", "/post_categories/7", class:"btn btn-default btn-search btn-block" %></li>
                <li><%= link_to "# ダイエット", "/post_categories/8", class:"btn btn-default btn-search btn-block" %></li>
                <li><%= link_to "# 料理", "/post_categories/9", class:"btn btn-default btn-search btn-block" %></li>
              </div>

              <div class="col-md-3">
                <li><%= link_to "# DIY", "/post_categories/10", class:"btn btn-default btn-search btn-block" %></li>
                <li><%= link_to "# カメラ", "/post_categories/11", class:"btn btn-default btn-search btn-block" %></li>
                <li><%= link_to "# ハンドメイド", "/post_categories/12", class:"btn btn-default btn-search btn-block" %></li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 main-favorite">
    <h2>Favorite</h2>
    <p><%= fa_icon("heart") %> お気に入りカテゴリ</p>

    <div class="col-md-10 col-md-offset-1 favorite">
      <% if user_signed_in? %>
        <% @favorite_categories.each do |favorite_category| %>
          <div class="col-md-3">
            <div class="col-md-12 post-index-favorite">
              <section>
                <%= attachment_image_tag favorite_category.post_category, :category_image, :fill, 230, 160, format: "png", class: "img-responsive" %>
                <p class="btn btn-default btn-search btn-block">
                  <%= link_to post_category_path(favorite_category.post_category.id) do %>
                    # <%= favorite_category.post_category.category %>
                  <% end %>
                </p>
              </section>
            </div>
          </div>
        <% end %>
        <div class="col-md-12 favorite-login">
          <div class="col-md-6 col-md-offset-3 favorite-btn">
            <%= link_to "マイページからお気に入りカテゴリを追加", user_path(@user), class: "btn btn-ellipse" %>
          </div>
        </div>
      <% else %>
        <div class="favorite-login">
          <p>＼ ログインするとお気に入りしたカテゴリを閲覧できます ／</p>
          <div class="col-md-4 col-md-offset-4 favorite-btn">
            <%= link_to "新規登録する", new_user_registration_path, class: "btn col-md-8 col-md-offset-2 btn-ellipse" %>
          </div>
          <div class="col-md-4 col-md-offset-4 favorite-btn">
            <%= link_to "ログインする", new_user_session_path, class: "btn col-md-8 col-md-offset-2 btn-ellipse" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  </div>
</div>




