<script type="">
// ナビゲーションバー current pageにactive付与
$(function(){
  $('nav li a').each(function(){
    var $href = $(this).attr('href');
    if(location.pathname === $href) {
      $(this).parent('li').addClass('active');
    } else {
      $(this).parent('li').removeClass('active');
    }
  });
});

// ヘッダー固定
$(function() {
  var headerHeight = $('header').height(),
      top = 0;
  $(window).on('load scroll', function() {
    var scrollHeight = $(this).scrollTop();
    if ( scrollHeight > top && scrollHeight > headerHeight ) {
      $('header').css('top', '-130px');  // ヘッダー非表示
    } else {
      $('header').css('top', '0');  // ヘッダー表示
    }
    top = scrollHeight;
  });
});

</script>


<!-- 管理者用ヘッダー -->
<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="header-logo">
          <%= image_tag "/images/logo.png", class: "logo" %>
        </div>
      </div>
      <div class="col-md-9">
        <nav class="nav-admin">
          <ul>
            <% if admin_signed_in? %>
              <li><%= link_to "Home", admins_root_path, class: "link" %></li>
              <li><%= link_to "About", admins_about_path, class: "link" %></li>
              <li><%= link_to "Posts", admins_posts_path, class: "link" %></li>
              <li><%= link_to "Users", admins_users_path, class: "link" %></li>
              <li><%= link_to "Category", admins_post_categories_path, class: "link" %></li>
              <li><%= link_to "New admin", new_admin_registration_path, class: "link" %></li>
              <li><%= link_to "Log out", destroy_admin_session_path, method: :delete, class: "link" %></li>
            <% else %>
              <li><%= link_to "Home", admins_root_path, class: "link" %></li>
              <li><%= link_to "About", admins_about_path, class: "link" %></li>
              <li><%= link_to "Log in", new_admin_session_path, class: "link" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>