<!-- 管理者用ヘッダー -->

<header id="header">
  <div class="header-logo">
    <%= image_tag "/images/logo.png", class: "logo" %>
  </div>

  <nav>
    <ul>
      <% if admin_signed_in? %>
        <li><%= link_to "Home", admins_root_path, class: "link" %></li>
        <li><%= link_to "About", admins_about_path, class: "link" %></li>
        <li><%= link_to "Posts", admins_posts_path, class: "link" %></li>
        <li><%= link_to "Users", admins_users_path, class: "link" %></li>
        <li><%= link_to "Category", admins_post_categories_path, class: "link" %></li>
        <li><%= link_to "New admin", new_admin_registration_path, class: "link" %></li>
        <li><%= link_to "Log out", destroy_admin_session_path, method: :delete, class: "link" %></li>
      <% else %>
        <p class="admin"><%= fa_icon("circle") %> For admins <%= fa_icon("circle") %></p>
        <li><%= link_to "Home", admins_root_path, class: "link" %></li>
        <li><%= link_to "About", admins_about_path, class: "link" %></li>
        <li><%= link_to "Log in", new_admin_session_path, class: "link" %></li>
      <% end %>
    </ul>
  </nav>
</header>