<script type="">
// ナビゲーションバー current pageにactive付与
$(function(){
  $('nav li a').each(function(){
    var $href = $(this).attr('href');
    if(location.pathname === $href) {
      $(this).parent('li').addClass('active');
    } else {
      $(this).parent('li').removeClass('active');
    }
  });
});

// ヘッダー固定
$(function() {
  var headerHeight = $('header').height(),
      top = 0;
  $(window).on('load scroll', function() {
    var scrollHeight = $(this).scrollTop();
    if ( scrollHeight > top && scrollHeight > headerHeight ) {
      $('header').css('top', '-130px');  // ヘッダー非表示
    } else {
      $('header').css('top', '0');  // ヘッダー表示
    }
    top = scrollHeight;
  });
});

</script>



<!-- ユーザー用ヘッダー -->
<header id="header">
  <div class="header-logo">
    <%= image_tag "/images/logo.png", class: "logo" %>
  </div>

  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Home", root_path, class: "link" %></li>
        <li><%= link_to "About", about_path, class: "link" %></li>
        <li><%= link_to "All posts", posts_path, class: "link" %></li>
        <li><%= link_to "Mypage", user_path(current_user), class: "link" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "link" %></li>
      <% else %>
        <li><%= link_to "Home", root_path, class: "link" %></li>
        <li><%= link_to "About", about_path, class: "link" %></li>
        <li><%= link_to "All posts", posts_path, class: "link"  %></li>
        <li><%= link_to "Sign up", new_user_registration_path, class: "link" %></li>
        <li><%= link_to "Log in", new_user_session_path, class: "link" %></li>
      <% end %>
    </ul>
  </nav>
</header>
