<header id="header">
  <div class="header-logo">
    <%= image_tag "/images/logo.png" %>
  </div>

  <nav class="collapse navbar-collapse">
    <ul class="">
      <% if user_signed_in? %>
        <li><%= link_to "ホーム", "#", class: "link" %></li>
        <li><%= link_to "cheerとは", "#", class: "link" %></li>
        <li><%= link_to "投稿一覧", "#", class: "link" %></li>
        <li><%= link_to "新規投稿", "#", class: "link" %></li>
        <li><%= link_to "マイページ", "#" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link" %></li>
      <% else %>
        <li><%= link_to "ホーム", "#", class: "link" %></li>
        <li><%= link_to "cheerとは", "#", class: "link"  %></li>
        <li><%= link_to "投稿一覧", "#", class: "link"  %></li>
        <li><%= link_to "マイページ", "#" %></li>
        <li><%= link_to "新規登録", new_user_registration_path, class: "link" %></li>
        <li><%= link_to "ログイン", new_user_session_path, class: "link" %></li>
      <% end %>
    </ul>
  </nav>
</header>
