<!-- ユーザー用ヘッダー -->

<header id="header">
  <div class="header-logo">
    <%= image_tag "/images/logo.png", class: "logo" %>
  </div>

  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Home", root_path, class: "link" %></li>
        <li><%= link_to "About", about_path, class: "link" %></li>
        <li><%= link_to "All posts", posts_path, class: "link" %></li>
        <li><%= link_to "New post", new_post_path, class: "link" %></li>
        <li><%= link_to "Mypage", user_path(current_user), class: "link" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "link" %></li>
      <% else %>
        <li><%= link_to "Home", root_path, class: "link" %></li>
        <li><%= link_to "About", about_path, class: "link" %></li>
        <li><%= link_to "All posts", posts_path, class: "link"  %></li>
        <li><%= link_to "Sign up", new_user_registration_path, class: "link" %></li>
        <li><%= link_to "Log in", new_user_session_path, class: "link" %></li>
      <% end %>
    </ul>
  </nav>
</header>
