<!-- 管理者用 -->
<!DOCTYPE html>
<html>
  <head>
    <title>Cheer for admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/adminheader" %>

    <div id="body-main">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>